* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 100%;
}

/* Gestione box modelli */
.box {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}

.color-1 {
    background-color: red;
}

.color-2 {
    background-color: #008c0b;
}

.color-3 {
    background-color: #ffde24;
}

.modello {
    position: relative;
    top: 40%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -50%);
}

.info, .box1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    color: #ffde24;
}

.box2 {
    position: absolute;
    top: 177%;
}

.box3 {
    position: absolute;
    top: 277%;
    color: green;
}

.info-2 {
    position: absolute;
    left: 25%;
}
/* Gestione box modelli */


